@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: black;
}
a {
    text-decoration: none;
}


.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}

hr {
    border: 1px solid #112b3c;
}
/* CSS untuk Search Engine Bar */
.search-bar {
    margin-top: 1vw;
}
.search-engine {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid grey 1px;
}
.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
}
.isi p {
    margin-right: 12px;
    text-decoration: none;
    color: black;
}


.icon-search {
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #112b3c;
    color: white;
    border-color: transparent;
}

/* Untuk dropdown sorting */
.dropdown-sort {
    background-color: transparent;
    border: solid grey 1px;
}
.btn {
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
    width: 5vw;

}

/* Ukuran tulisan placeholder */
::-webkit-input-placeholder {
    font-size: 14px !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px !important;
}

/* Untuk Card Item */
.productimg{
    height: 200px;
}

.row img{
    display: inline;
    max-height: 190px;
    height: 190px;
    /* max-width: 200px; */
    vertical-align: middle;
}

.container.cards {
    /* border: solid red 2px; */
    background-color: white;
}
.col-xs-2-4 {
    /* border: solid red 2px; */
    margin: 0 1% 0.5% 1%;
    flex-basis: 20%;
    max-width: 20%;
}
.col-xs-2-4 a {
    color: black;
    text-decoration: none;
}
.col-xs-2-4 .isi {
    padding: 0.5rem 0 0 0;
    overflow: hidden;
    flex-grow: 1;
    margin: 1% 0% 0% 0%;
    line-height: 4px;
    font-size: 14px;
}
.col-xs-2-4 img {
    border-radius: 0;
}

/* Untuk Filter & Aksi */
.title {
    width: 15vw;
    margin: 0 0 1% 0;
    padding: 0;
}
.cards .title {
    margin: 0 0 1% 1%;
}
.title .sub-title {
    margin: 0.5% 0% 1% 0%;
    padding: 0;
}
.title .kategori {
    margin: 0;
    padding: 0;
}
.title .kategori p {
    font-size: 16px;
    margin: 0% 0% 1% 0%;
}
.form-check-label {
    font-size: 14px;
}
.btn {
    margin-top: 2%;
    width: 10vw;
    height: 2vw;
    color: white;
    background-color: #f66b0e;
}

.button-action {
    /* border: solid red 1px; */
    width: 100%;
    height: auto;
}
.card {
    background-color: #fdfdfd;

    /* border: none; */
    padding: 10px;
}


.card input {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    background-color: #fdfdfd;

}

.card:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.04s;
  }
  

.button-action .btn-primary {
    background-color: #112b3c;
    border: none;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 80%;
}

/* buat tulisan di navbar  */
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #f66b0e;
    border-bottom: #f66b0e solid 1px;
    text-decoration: none;
}

nav a.active {
    color: #f66b0e;
    border-bottom: #f66b0e solid 1px;
}


/* For desktop: */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
